.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
body{
    background-color: rgb(105, 227, 231);
}

h1{
    font-size: 45px;
}

#date-label{
    font-size: 27px;
}
#lucky-number-label{
    font-size: 27px;
}
#date-of-birth{
    margin-bottom: 2rem;
    font-size: 17px;
}
#lucky-number{
    margin-bottom: 2rem;
    font-size: 17px;
}
button:hover{
    background-color: rgb(255, 255, 70);
    color: red;
}
#check-button{
    margin-bottom:2rem ;
    font-size: 24px;
    border-radius: 1rem;
    cursor: pointer;
}
#output-box{
    font-size: 30px;
}